{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
{% endblock %}

{% block content %}

<div class="page-header">
  {% if watch %}
    <h1>Edit: {{ watch.brand }} {{ watch.name }} {{ watch.reference }}</h1>
  {% else %}
    <h1>Add a Watch</h1>
  {% endif %}
</div>
<form action="" method="post" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <div class="add-watch-btns">
    {% if watch %}
      <a id="cancel" href="{% url 'watches_detail' watch.id %}" class="btn secondary">
        Cancel
      </a>
    {% else %}
      <a id="cancel" href="{% url 'watches_index' %}" class="btn secondary">
        Cancel
      </a>
    {% endif %}
    <button type="submit" class="btn submit">Submit!</button>
  </div>
</form>


{% endblock %}