{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
<section>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" id="btn" class="btn submit">Login</button>
  </form>
</section>
{% endif %}

<section class="logo-container">
  <div class="watch-container">
    <img src="{% static 'images/watches.jpg' %}">
    <img src="{% static 'images/watchbox-txt.jpeg' %}" alt="Watch landing pic" />
  </div>
</section>

{% endblock %}